In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
data = pd.read_csv("https://raw.githubusercontent.com/amankharwal/Website-data/master/dataset.csv")
print(data.head())

                                                Text  language
0  klement gottwaldi surnukeha palsameeriti ning ...  Estonian
1  sebes joseph pereira thomas  på eng the jesuit...   Swedish
2  ถนนเจริญกรุง อักษรโรมัน thanon charoen krung เ...      Thai
3  விசாகப்பட்டினம் தமிழ்ச்சங்கத்தை இந்துப் பத்திர...     Tamil
4  de spons behoort tot het geslacht haliclona en...     Dutch

In [3]:
data.isnull().sum()

Text        0
language    0
dtype: int64

In [4]:
data['language'].value_counts()

Turkish       1000
Korean        1000
Latin         1000
Estonian      1000
French        1000
Japanese      1000
Dutch         1000
English       1000
Chinese       1000
Romanian      1000
Tamil         1000
Indonesian    1000
Thai          1000
Swedish       1000
Spanish       1000
Persian       1000
Urdu          1000
Hindi         1000
Arabic        1000
Russian       1000
Portugese     1000
Pushto        1000
Name: language, dtype: int64

In [5]:
x = np.array(data["Text"])
y = np.array(data["language"])

cv = CountVectorizer()
X = cv.fit_transform(x)
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size=0.33, 
                                                    random_state=42)

In [8]:
model=MultinomialNB()
model.fit(X_train,y_train)
y_pred=model.predict(X_test)
#model.score(X_test,y_test)

In [9]:
from sklearn.metrics import accuracy_score
accuracy_score(y_pred,y_test)

0.953168044077135

In [16]:
#### Checking on test data
text=input()
test=cv.transform([text])
y_prediction=model.predict(test)
y_prediction

私はノイダに住んでいます

array(['Chinese'], dtype='<U10')